@use "@/scss/utils";

:root {
  --color_spinner: #7a7a7a;
  --color_overlay: #444444;

  --size_pageMinWidth: 320px;

  @media (max-width: utils.$viewport-xs-max) {
    --size_paddingX: 20px;
  }

  @media (min-width: utils.$viewport-sm-min) {
    --size_paddingX: 24px;
  }
}
