*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  color: black;
  background-color: white;
}

img,
svg,
picture,
video {
  display: block;
}

button {
  cursor: pointer;
}
