@use "@/scss/utils";

.root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  line-height: 1.5;
  font-size: 1.25rem;
}

.headline {
  composes: headline from "@/scss/scaffold.scss";

  margin-bottom: 1.5rem;
}

.preloader {
  flex-grow: 1;
}
