@use "@/scss/utils";

$borderWidth: 1px;
$border: $borderWidth solid utils.$color-lightGray;
$borderRadius: 2px;
$padding: 8px;
$fontSize: 20px;
$lineHeight: 1;

$height: $fontSize * $lineHeight + ($padding + $borderWidth) * 2;

.root {
  display: flex;
  font-size: $fontSize;
  line-height: $lineHeight;
}

.label {
  flex-grow: 1;
}

.field {
  display: block;
  height: $height;
  padding: $padding;
  border: $border;
  border-radius: $borderRadius;
  font-size: inherit;
  line-height: inherit;
  background-color: white;
  width: 100%;

  &_adjacent {
    composes: field;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.tipChar {
  width: $height;
  border: $border;
  border-right-style: none;
  border-top-left-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;
  padding-top: $padding;
  padding-bottom: $padding;
  text-align: center;
  color: #777777;
  background-color: white;
}
