@use "~scss/utils";

.root {
  --color-caption: midnightblue;

  line-height: 1.25;

  @include utils.darkTheme() {
    --color-caption: #dddddd;
  }

  &_series {
    composes: root;
    --size_triangle: 16px;
    --size_paddingLeft: calc(var(--size_triangle) * 1.5);
  }
}

.langBadge {
  --color-lang-badge_en: #90caf9;
  --color-lang-badge_ru: #80cbc4;

  display: inline-block;
  border-radius: 2px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: white;

  &_en {
    composes: langBadge;
    background-color: var(--color-lang-badge_en);
  }

  &_ru {
    composes: langBadge;
    background-color: var(--color-lang-badge_ru);
  }
}

.legend {
  color: var(--color-text);
}

.link {
  color: var(--color-caption);

  &:hover {
    text-decoration: none;
  }
}

.seriesButton {
  --size_halfTriangle: calc(var(--size_triangle) / 2);

  position: relative;
  display: inline;
  padding-left: var(--size_paddingLeft);
  color: var(--color-caption);
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - var(--size_halfTriangle));
    left: var(--size_halfTriangle);
    border: var(--size_halfTriangle) solid var(--color-caption);
    border-right-width: 0;
    border-top-color: transparent;
    border-bottom-color: transparent;
    transition: transform 0.2s;

    .root:global(.isExpanded) & {
      transform: rotate(90deg);
    }
  }
}

.seriesList {
  composes: list from "~scss/scaffold.scss";
  display: grid;
  row-gap: 8px;
  margin-top: 8px;
  padding-left: var(--size_paddingLeft);
}

.tag {
  display: inline;
  color: var(--color-text);
}

.tags {
  composes: list from "~scss/scaffold.scss";
  display: inline;
  font-style: italic;
}
