@use "~scss/utils";

.root {
  --color-caption: midnightblue;

  line-height: 1.25;

  @include utils.darkTheme() {
    --color-caption: #dddddd;
  }
}

.langBadge {
  --color-lang-badge_en: #90caf9;
  --color-lang-badge_ru: #80cbc4;

  display: inline-block;
  border-radius: 2px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: white;

  &_en {
    composes: langBadge;
    background-color: var(--color-lang-badge_en);
  }

  &_ru {
    composes: langBadge;
    background-color: var(--color-lang-badge_ru);
  }
}

.legend {
  color: var(--color-text);
}

.link {
  color: var(--color-caption);

  &:hover {
    text-decoration: none;
  }
}

.series {
  composes: button from "~scss/scaffold.scss";
  display: inline-flex;
  color: var(--color-caption);

  &::before {
    $size: 18px;

    content: "";
    margin-right: 8px;
    width: $size;
    height: $size;
    // border-top:
    background-color: black;
  }
}

.tag {
  display: inline;
  color: var(--color-text);
}

.tags {
  composes: list from "~scss/scaffold.scss";
  display: inline;
  font-style: italic;
}
