@use "@/scss/utils";

.root {
  display: flex;
  flex-direction: column;
  margin-inline: calc(var(--size_paddingX) * -1);
  border-block-end: 1px solid #bdbdbd;
  padding-block-end: 16px;
  padding-inline: var(--size_paddingX);
}

.adaptiveRow {
  display: flex;

  @media (max-width: utils.$viewport-xs-max) {
    flex-wrap: wrap;
  }

  @media (min-width: utils.$viewport-sm-min) {
    flex-wrap: nowrap;
    align-items: center;
  }
}

.amountMeter {
  margin-block: 0;
}

.filter {
  composes: adaptiveRow;
  margin-block-end: 16px;
}

.searchbar {
  margin-block-end: 16px;
}

.sorting {
  composes: adaptiveRow;
  margin-block-end: 16px;

  &__tip {
    font-size: 18px;

    @media (max-width: utils.$viewport-xs-max) {
      margin-block-end: 8px;
      width: 100%;
    }

    @media (min-width: utils.$viewport-sm-min) {
      margin-inline-end: 16px;
      width: auto;
    }
  }

  &__controls {
    display: grid;
    grid-auto-flow: column;
    column-gap: 16px;
    font-size: 18px;
  }

  &__button {
    position: relative;
    text-align: left;
    color: var(--color_text-caption);
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      bottom: -2px;
      width: 100%;
      height: 1px;
      background-image: repeating-linear-gradient(
        to right,
        var(--color_text-caption) 0 3px,
        transparent 3px 5px,
      );
    }

    &:disabled {
      --color_text-caption: #{utils.$color-light-textCaptionAlpha};

      @include utils.darkTheme() {
        --color_text-caption: #{utils.$color-dark-textCaptionAlpha};
      }

      &::before {
        background-image: none;
      }
    }
  }
}
