:root {
  --color_lang-badge_en: #90caf9;
  --color_lang-badge_ru: #80cbc4;
  --color_page-background: #dbdbdb;
  --color_spinner: #7a7a7a;

  --size_page-content-max-width: 672px;
  --size_page-min-width: 320px;
}
