*,
*:--ab {
  box-sizing: inherit;
}

html {
  --color-page-background: $color-page-background;
  --page-min-width: $page-min-width;

  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  color: black;
}

img,
svg,
picture,
video {
  display: block;
}

button {
  display: block;
  cursor: pointer;
}
