.s_button {
  padding: 8px 16px;
  border-style: none;
  font-size: inherit;
  line-height: 1.25;
  background-color: #cdcdcd;
}

.s_input {
  padding: 8px;
  border: 1px solid #bababa;
  border-radius: 2px;
  font-size: inherit;
  background-color: white;
}

.s_list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.s_visually-hidden {
  &:matches(
    :not(:active, :focus),
    input[type="checkbox"],
    input[type="radio"]
) {
    @include visually-hiding();
  }
}
