@use "~scss/utils";

$pageContentMaxWidth: 672px;

.root {
  composes: main from "~ts/components/App/style.scss";

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: utils.$viewport-xs-max) {
    margin-bottom: 16px;
  }

  @media (min-width: utils.$viewport-sm-min) {
    margin-bottom: 32px;
  }
}

.controlBar {
  margin-bottom: 15px;
}

.headline {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.25;
  color: var(--color-text);

  @media (max-width: utils.$viewport-xs-max) {
    font-size: 22px;
  }

  @media (min-width: utils.$viewport-sm-min) {
    font-size: 32px;
  }
}

.subjects {
  flex-grow: 1;
}
