$viewport-xs-max: 479px;

$viewport-sm-min: 480px;
$viewport-sm-max: 767px;

$viewport-md-min: 768px;
$viewport-md-max: 1023px;

$viewport-lg-min: 1024px;
$viewport-lg-max: 1599px;

$viewport-xl-min: 1600px;

$size-paddingXsX: 20px;
$size-paddingNonXsX: 24px;
