@use "@/scss/utils";

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px var(--size_paddingX);
  background-color: var(--color_background-secondary);
  transition: background-color 0.15s;

  &_translucent {
    background-color: var(--color_background-secondary-translucent);
  }
}

.themeToggle {
  flex-shrink: 0;
  flex-basis: 120px;
}

.goTopButton {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: padding-bottom 0.1s;

  @media (max-width: utils.$viewport-xs-max) {
    padding-right: 30px;
  }

  @media (min-width: utils.$viewport-sm-min) {
    padding-right: 40px;
  }

  &__inner {
    $size: 50px;
    $arrow-height: 10px;
    $arrow-semiWidth: 12px;

    --color-buttonBackground: #{utils.$color-darkGray};
    --color_arrow: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $size;
    height: $size;
    border-radius: 50%;
    background-color: var(--color-buttonBackground);
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;

    &_visible {
      opacity: 1;
      pointer-events: auto;
    }

    &_theme_dark {
      --color-buttonBackground: #{utils.$color-gray};
      --color_arrow: #{utils.$color-darkGray};
    }

    &::before {
      content: "";
      width: $arrow-semiWidth * 2;
      height: $arrow-height;
      border-style: solid;
      border-color: transparent transparent var(--color_arrow);
      border-width: 0 $arrow-semiWidth $arrow-height;
    }

    &::after {
      content: "";
      width: 12px;
      height: 20px;
      background-color: var(--color_arrow);
    }
  }
}
