@use "~scss/utils";

.root {
  padding: 16px var(--size_paddingX);
  background-color: var(--color_background-secondary);

  @media (min-width: utils.$viewport-sm-min) {
    display: flex;
    justify-content: center;
  }
}

.link {
  composes: link from "~scss/scaffold.scss";
}

.list {
  composes: list from "~scss/scaffold.scss";

  display: grid;
  grid-gap: 16px;

  @media (max-width: utils.$viewport-xs-max) {
    grid-template-columns: auto auto;
    justify-content: center;
  }

  @media (min-width: utils.$viewport-sm-min) {
    grid-auto-flow: column;
  }
}
