@use "~scss/utils";

.root {
  padding: 16px var(--size_paddingX);
  background-color: var(--color_background-secondary);

  @media (min-width: utils.$viewport-sm-min) {
    display: flex;
    justify-content: center;
  }
}

.link {
  composes: link from "~scss/scaffold.scss";
}

.list {
  composes: list from "~scss/scaffold.scss";

  @media (max-width: utils.$viewport-xs-max) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    justify-content: center;
    gap: 16px;
  }

  @media (min-width: utils.$viewport-sm-min) {
    display: flex;
    column-gap: 16px;
  }
}
