@use 'sass:color';
@use '@/shared/scss/utils';

.root {
  line-height: 1.25;

  @media (min-width: utils.$viewport-sm-min) {
    font-size: 18px;
  }
}

.button {
  $bgColor: utils.$color-gray;

  margin-block-start: 32px;
  margin-inline: auto;
  font-size: 16px;
  background-color: $bgColor;
  transition-property: color, background-color;
  transition-duration: 0.1s;

  &:active {
    color: white;
    background-color: color.mix($bgColor, black, 50%);
  }
}

.fallbackMessage {
  margin-block: 0;
  color: var(--color_text);
}

.list {
  composes: list from '@/shared/scss/scaffold.scss';
  display: grid;
  row-gap: 1rem;
}
