[core]
	autocrlf = input
	safecrlf = false
	excludesFile = ~/.gitexcludes
	ignorecase = false
	editor = code --wait
  # OR:
  # editor = \"C:\\Users\\Me\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[alias]
	hist = log --all --decorate --oneline --graph
	histlong = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[http]
  sslVerify = true
# [diff]
#   tool = meld
# [difftool "meld"]
#   path = "C:\\Program Files (x86)\\Meld\\Meld.exe"
[merge]
  conflictStyle = diff3
  ff = false
[pull]
  ff = true
[user]
  name = My Name
  email = hello@example.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
