.page__wrapper {
  --color-conic-dark: #eeeeee;

  max-width: 672px;
  min-height: 100%;
  padding: 48px 24px;
  background-color: white;
  background-image: conic-gradient(
    at center,
    var(--color-conic-dark) 120deg,
    white 180deg,
    var(--color-conic-dark) 360deg
  );
}
