.root {
  --color-text: black;
  --color-background: #dbdbdb;

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  min-height: 100vh;
  background-color: var(--color-background);

  &:global(.darkTheme) {
    --color-text: white;
    --color-background: #242424;
  }
}
