.root {
  --color-text: black;
  --color-background: #dbdbdb;

  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-background);

  &:global(.hasDarkTheme) {
    --color-text: white;
    --color-background: #242424;
  }
}

.header {
  position: sticky;
  top: 0;
}

.main {
  justify-self: center;
}
