@use "~scss/utils";

.root {
  --color-text: black;
  --color-background: #dbdbdb;
  --color_headerBackground: #bdbdbd;

  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-background);

  &:global(.hasDarkTheme) {
    --color_headerBackground: #656565;
    --color-text: white;
    --color-background: #242424;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.main {
  --color-background: #efefef;

  justify-self: center;
  width: 100%;
  max-width: utils.$viewport-sm-max;
  padding-left: var(--size-paddingX);
  padding-right: var(--size-paddingX);
  background-color: var(--color-background);

  @include utils.darkTheme() {
    --color-background: #101010;
  }

  @media (max-width: utils.$viewport-xs-max) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media (min-width: utils.$viewport-sm-min) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
