.control-bar {
  display: flex;
  flex-direction: column;
}

.control-bar__filter {
  margin-bottom: 16px;
}

.control-bar__searchbar {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.control-bar__wrapper {
  display: flex;
  flex-direction: column;
}
