.subjects {
  display: flex;

  @media (--vp-xs-from) {
    font-size: 18px;
  }
}

.subjects__button {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.subjects__fallback-message {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color_text);
}

.subjects__item {
  line-height: 1.25;

  @nest .subjects__list > * + & {
    margin-top: 16px;
  }
}

.subjects__lang-badge {
  --color_lang-badge_en: #90caf9;
  --color_lang-badge_ru: #80cbc4;

  display: inline-block;
  border-radius: 2px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: white;
}

.subjects__lang-badge--en {
  background-color: var(--color_lang-badge_en);
}

.subjects__lang-badge--ru {
  background-color: var(--color_lang-badge_ru);
}

.subjects__legend {
  color: var(--color_text);
}

.subjects__link {
  color: midnightblue;

  @nest
  .theme_dark & {
    color: #dddddd;
  }
}

.subjects__preloader {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subjects__tag {
  display: inline;
  color: var(--color_text);
}

.subjects__tags {
  display: inline;
  font-style: italic;
}
