@use "~scss/utils";

.root {
  display: flex;
  flex-direction: column;
}

.control {
  composes: button from "~scss/scaffold.scss";

  min-width: 120px;
  color: #444444;
  transition: color, background-color 0.25s;

  &:disabled {
    background-color: darkslateblue;
    color: lightgoldenrodyellow;
    cursor: default;
  }
}

.controls {
  display: flex;
  overflow: hidden;
  border-radius: 2px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;

  @media (min-width: utils.$viewport-sm-min) {
    flex-wrap: nowrap;
    align-items: center;
  }
}

.searchbar {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.tip {
  margin-top: 0;
  margin-bottom: 16px;
  width: 100%;
  font-size: 18px;
  color: var(--color-text);

  @media (min-width: utils.$viewport-sm-min) {
    margin-bottom: 0;
    margin-right: 16px;
    width: auto;
  }
}
