@use "sass:color";
@use "~scss/utils";

.root {
  line-height: 1.25;

  @media (min-width: utils.$viewport-sm-min) {
    font-size: 18px;
  }
}

.button {
  $bgColor: utils.$color-gray;

  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  background-color: $bgColor;
  transition-property: color, background-color;
  transition-duration: 0.1s;

  &:active {
    color: white;
    background-color: color.mix($bgColor, black, 50%);
  }
}

.fallbackMessage {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color_text);
}

.list {
  composes: list from "~scss/scaffold.scss";
  display: flex;
  flex-direction: column;
}

.item {
  margin-bottom: 1rem;

  &_last {
    composes: item;

    margin-bottom: 0;
  }
}
