@use '@/shared/scss/utils';

.root {
  display: flex;
  align-items: center;
}

.tip {
  margin-inline-end: 16px;
  font-size: 18px;
}

.toggleButton {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 144px;
  border: 1px solid utils.$color-lightGray;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  text-align: left;
  background-color: utils.$color-gray;

  &::after {
    content: '';
    position: relative;
    transform: translateY(5px);
    border-style: solid;
    border-block-end-style: none;
    border-width: 8px;
    border-color: utils.$color-darkGray transparent;
  }

  &_hasPopup {
    &::after {
      transform: rotate(0.5turn) translateY(4px);
    }
  }
}

.popover {
  position: absolute;
}

.list {
  composes: list from '@/shared/scss/scaffold.scss';

  min-width: var(--radix-popover-trigger-width);
  border: 1px solid utils.$color-lightGray;
  border-block-start-style: none;
  background-color: white;
}

.option {
  background-color: inherit;
}

.optionButton {
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: left;
  background-color: inherit;

  &_selected {
    background-color: #cccccc;
  }
}
