.root {
  display: flex;

  @media (--vp-xs-from) {
    font-size: 18px;
  }
}

// TODO: add loadmore button
.button {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.fallbackMessage {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color_text);
}

.item {
  margin-bottom: 16px;
}

.lastItem {
  composes: item;
  margin-bottom: 0;
}

.list {
  composes: list from "~scss/common/_scaffold.scss";
}

.subjects__lang-badge {
  --color_lang-badge_en: #90caf9;
  --color_lang-badge_ru: #80cbc4;

  display: inline-block;
  border-radius: 2px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: white;
}

.subjects__lang-badge--en {
  background-color: var(--color_lang-badge_en);
}

.subjects__lang-badge--ru {
  background-color: var(--color_lang-badge_ru);
}
