mixin tag-cloud()
  section.tag-cloud
    h2.s_text-block.tag-cloud__heading Tag cloud
    p.s_text-block.tag-cloud__items
      -
        const { tags } = require('../../json/tags.json');
        const tagList = Object.values(tags)
          .map((tagArr) => tagArr)
          .flat();
      each tag, i in tagList
        span.tag-cloud__item
          a.tag-cloud__link #{tag}
