extends ../layouts/layout_main.pug

append variables
  - const pageTitle = `Yialo's Reading Whitelist`;

block body
  body.page
    .page__root(id='app-root')
    .page__overlay(id='overlay', role='status')
      span.spinner(aria-label='Загружаем контент...')
