extends ../layouts/layout_main.pug

append variables
  - const pageTitle = `Yialo's Reading Whitelist`;

block body
  body.Page-body
    .Page-root(id='app-root')
    .Page-overlay(id='overlay', role='status')
      span.spinner(aria-label='Загружаем контент...')
