extends ../layouts/layout_main.pug

include ../mixins/chapter.pug
include ../mixins/tag-cloud.pug

block variables
  -
    const pageTitle = 'Yialo\'s Reading Whitelist';
    //- const pathBase = 'https://yialo.github.io/cs-reading-whitelist';
    const pathBase = '.';

block body
  body.page
    .page__wrapper(id='app')
      h1.s_text-block Computer Science Reading Whitelist
      section.contents
        h2.s_text-block.contents__heading Содержание
        ul.s_list.contents__list
          - const { contents } = require('../../json/contents.json');
          - for (const { text, anchor } of contents)
            li: a(href=anchor) #{text}
      +chapter({
        heading: '[UNSORTED]',
        srcName: 'unsorted',
      })
      +tag-cloud()
    //- +body-scripts()
