extends ../layouts/layout_main.pug

include ../mixins/tag-cloud.pug

block variables
  - const pageTitle = 'Yialo\'s Reading Whitelist';

block body
  body.page
    .page__wrapper(id='app')
      h1.s_text-block Computer Science Reading Whitelist
      main.chapter
        ul.s_list.chapter__list
          - const { entries } = require('@/json/subjects.json');
          - for (const { caption, url, lang, tags, legend } of entries)
            li #[a(href=url) #{caption}]
              != legend ? ` - ${legend}` : ''
              ul.s_list.chapter__tags
                each tag in tags
                  li ##{tag}
      //- +tag-cloud()
    //- +body-scripts()
