extends ../layouts/layout_main.pug

append variables
  - const pageTitle = `Yialo's Reading Whitelist`;

block body
  body.page
    .page__wrapper(id='app-root')
    .page__overlay(id='page-overlay')
      .spinner(aria-label='Please stand by...')
