@use "~scss/utils";

.root {
  --color-buttonText: white;
  --color-buttonBackground: black;

  font-style: italic;
  color: var(--color-buttonText);
  background-color: var(--color-buttonBackground);

  @include utils.darkTheme() {
    --color-buttonText: black;
    --color-buttonBackground: white;
  }
}
