@use "~scss/utils";

.root {
  --color-text: white;
  --color-background: black;

  font-style: italic;
  color: var(--color-text);
  background-color: var(--color-background);

  @include utils.darkTheme() {
    --color-text: black;
    --color-background: white;
  }
}
