@use '@/shared/scss/utils';

.root {
  display: flex;
  align-items: center;
}

.tip {
  margin-inline-end: 16px;
  font-size: 18px;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 144px;
}

._button {
  width: 100%;
  padding: 0.5rem 1rem;
}

.toggleButton {
  composes: _button;

  position: relative;
  display: flex;
  justify-content: space-between;
  border: 1px solid utils.$color-lightGray;
  border-radius: 2px;
  text-align: left;
  background-color: utils.$color-gray;

  &::after {
    content: '';
    position: relative;
    top: 5px;
    border-style: solid;
    border-block-end-style: none;
    border-width: 8px;
    border-color: utils.$color-darkGray transparent;
  }

  &_hasPopup {
    &::after {
      transform: rotate(0.5turn);
    }
  }
}

.list {
  composes: list from '@/shared/scss/scaffold.scss';

  position: absolute;
  z-index: 1;
  top: 100%;
  width: 100%;
  border: 1px solid utils.$color-lightGray;
  border-block-start-style: none;
  background-color: white;
}

.option {
  background-color: inherit;
}

.optionButton {
  composes: _button;

  text-align: left;
  background-color: inherit;

  &_selected {
    background-color: #cccccc;
  }
}
