.page {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: var(--size_page-min-width);
  overflow-y: scroll;
  background-color: var(--color_page-background);
}

.page__content {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.page__filter {
  margin-bottom: 32px;
}

.page__heading {
  margin-top: 0;
  margin-bottom: 48px;
  line-height: 1.25;
}

.page__overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color_overlay);

  &.js_hidden {
    display: none;
  }
}

.page__subjects {
  flex-grow: 1;
}

.page__wrapper {
  --color_conic-dark: #eeeeee;

  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--size_page-content-max-width);
  min-height: 100vh;
  padding: 48px 24px;
  background-color: white;
  background-image: conic-gradient(
    at center 50vh,
    var(--color_conic-dark) 120deg,
    white 180deg,
    var(--color_conic-dark) 360deg
  );
  background-attachment: fixed;
}
