.page {
  position: relative;
  min-width: var(--size_page-min-width);
  overflow-y: scroll;
}

.page__content {
  --color_conic-middle: white;
  --color_conic-outermost: #eeeeee;

  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  max-width: var(--size_page-content-max-width);
  padding: 48px 24px;
  background-color: var(--color_conic-middle);
  background-image: conic-gradient(
    at center 50vh,
    var(--color_conic-outermost) 120deg,
    var(--color_conic-middle) 180deg,
    var(--color_conic-outermost) 360deg
  );
  background-attachment: fixed;

  @nest
  .theme_dark & {
    --color_conic-middle: black;
    --color_conic-outermost: #111111;
  }
}

.page__filter {
  margin-bottom: 32px;
}

.page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.page__headline {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 1.25;
  color: var(--color_text);

  @media (--vp-xs-from) {
    font-size: 32px;
  }
}

.page__overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color_overlay);

  &.js_hidden {
    display: none;
  }
}

.page__root {
  position: relative;
  z-index: 0;
}

.page__subjects {
  flex-grow: 1;
}

.page__theme-toggle {
  --color_text: white;
  --color_background: black;

  flex-shrink: 0;
  margin-left: 24px;
  width: 80px;
  font-style: italic;
  color: var(--color_text);
  background-color: var(--color_background);

  @nest
  .theme_dark & {
    --color_text: black;
    --color_background: white;
  }
}

.page__wrapper {
  --color_text: black;
  --color_background: #dbdbdb;

  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color_background);

  &.theme_dark {
    --color_text: white;
    --color_background: #242424;
  }
}
