@use "~scss/utils";

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px var(--size-paddingX);
  background-color: var(--color_headerBackground);
}

.themeToggle {
  flex-shrink: 0;
  flex-basis: 120px;
}
