.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: #bdbdbd;

  :global(.hasDarkTheme) & {
    background-color: #656565;
  }
}

.themeToggle {
  composes: button from "~scss/scaffold.scss";

  --color-text: white;
  --color-background: black;

  flex-shrink: 0;
  width: 120px;
  font-style: italic;
  color: var(--color-text);
  background-color: var(--color-background);

  :global(.hasDarkTheme) & {
    --color-text: black;
    --color-background: white;
  }
}
