.filter {
  display: flex;
  flex-wrap: wrap;

  @media (--vp-xs-from) {
    flex-wrap: nowrap;
    align-items: center;
  }
}

.filter__tip {
  margin-top: 0;
  margin-bottom: 16px;
  width: 100%;
  font-size: 18px;
  color: var(--color_text);

  @media (--vp-xs-from) {
    margin-bottom: 0;
    margin-right: 16px;
    width: auto;
  }
}

.filter__controls {
  display: flex;
  overflow: hidden;
  border-radius: 2px;
}

.filter__control {
  min-width: 120px;
  color: #444444;
  transition: color, background-color 0.25s;

  &:disabled {
    background-color: darkslateblue;
    color: lightgoldenrodyellow;
    cursor: default;
  }
}
