:global {
  .Page {
    height: 100%;
    overflow-y: hidden;
  }

  .Page-Body {
    position: relative;
    min-width: var(--size_pageMinWidth);
    height: inherit;
  }

  .Page-Root {
    position: relative;
    z-index: 0;
    height: inherit;
    overflow-y: scroll;
  }

  .Page-GoTopButton {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
  }

  .Page-Overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color_overlay);

    &.isHidden {
      display: none;
    }
  }
}
