@use "@/scss/utils";

.headline {
  margin-block: 0;
  line-height: 1.25;
  color: var(--color_text);

  @media (max-width: utils.$viewport-xs-max) {
    font-size: 22px;
  }

  @media (min-width: utils.$viewport-sm-min) {
    font-size: 32px;
  }
}

.link {
  color: var(--color_text-caption);

  &:hover {
    text-decoration: none;
  }
}

.list {
  margin-block: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

.visuallyHidden {
  @at-root {
    &:not(:active),
    &:not(:focus),
    input#{&}[type="checkbox"],
    input#{&}[type="radio"] {
      @include utils.visuallyHiding();
    }
  }
}
