@use "@/scss/utils";

.headline {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.25;
  color: var(--color_text);

  @media (max-width: utils.$viewport-xs-max) {
    font-size: 22px;
  }

  @media (min-width: utils.$viewport-sm-min) {
    font-size: 32px;
  }
}

.link {
  color: var(--color_text-caption);

  &:hover {
    text-decoration: none;
  }
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.visuallyHidden {
  @at-root {
    &:not(:active),
    &:not(:focus),
    input#{&}[type="checkbox"],
    input#{&}[type="radio"] {
      @include utils.visuallyHiding();
    }
  }
}

.main {
  --color_background-main: #{utils.$color-light-backgroundMain};

  justify-self: center;
  width: 100%;
  max-width: utils.$viewport-sm-max;
  padding-left: var(--size_paddingX);
  padding-right: var(--size_paddingX);
  background-color: var(--color_background-main);

  @include utils.darkTheme() {
    --color_background-main: #{utils.$color-dark-backgroundMain};
  }

  @media (max-width: utils.$viewport-xs-max) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media (min-width: utils.$viewport-sm-min) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
