@use "~scss/utils";

.button {
  padding: 8px 16px;
  border-style: none;
  font-size: inherit;
  line-height: 1.25;
  background-color: #cdcdcd;
}

.input {
  padding: 8px;
  border: 1px solid #bababa;
  border-radius: 2px;
  font-size: inherit;
  background-color: white;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.visually-hidden {
  @at-root {
    &:not(:active, :focus),
    input#{&}[type="checkbox"],
    input#{&}[type="radio"] {
      @include utils.visuallyHiding();
    }
  }
}
