@keyframes :global(spinner-rotation) {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

:global .spinner {
  width: 100px;
  height: 100px;
  border: 10px solid var(--color-spinner);
  border-right-color: transparent;
  border-radius: 50%;
  animation-name: spinner-rotation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
